
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  .wrapper.two {
   
    font-size: 6rem;
    font-family: "Play", sans-serif;
}
.button{
	color:white;
}
@media screen and (max-width:720px){
	.button{
		margin-left:5px;
		margin-bottom:30px;
		margin-top:50px;
	}
	h3{
		font-size:70px;
	}
	.buttons{
		margin-bottom:40px;
	}
}
.neon h3 {
    margin: 1rem auto;
    animation: neon 2s ease infinite;
}
@keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 10px #071F30, 0 0 20px #071F30, 0 0 20px #071F30, 0 0 20px #071F30, 0 0 2px #fed128, 2px 2px 2px #806914;
        color: #f5efcb;
    }
    50% {
        text-shadow: 0 0 2px #450239, 0 0 5px #440238, 0 0 5px #3e0233, 0 0 5px #540445, 0 0 2px #420337, 4px 4px 2px #3b0231;
        color: #eda0d3;
    }
}

  body {
	background:url('https://4kwallpapers.com/images/walls/thumbs_2t/4523.jpg');
		background-size: cover;
	background-attachment: fixed;
	color: #071F30;
	font-family: 'Dosis', sans-serif;
  }
  
  .row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2% 5%;
  }
  .row .column1 {
	padding-right: 50px;
  }
  .column1 h1 {
	
	font-size: 30px;
	margin-bottom: 10px;
  }
  .column1 p {
	font-weight: bolder;
	font-size: 80px;
	margin-bottom: 20px;
  }
  .column1 button {
	width: 150px;
	padding: 12px 20px;
	border-radius: 20px;
	border-style: none;
	color: white;
	font-size: 17px;
	font-weight: 600;
  }
  
  /* Header content responsive */
  @media screen and (max-width: 980px) {
	.column2 img {
	  width: 350px;
	}
	.column1 h1 {
	  font-size: 37px;
	}
	.column1 p{
	  font-size: 70px;
	}
	
  }
   
  @media screen and (max-width: 600px) {
   
	.column1 h1 {
	  font-size: 35px;
	}
	.row {
	  flex-direction: column;
   
	}
	.row .column1 {
	  padding: 30px;
	}
	.login{
		color:#071F30;
	}
	.button{
		font-size: 40px;
	}
  }
  .buttons{
	color:#071F30;
  }

.btn-hover {
	color:#071F30;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-top:20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}


.btn-hover.color-9 {
    background-image: linear-gradient(to right, #71acc5, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
	color:#071F30;
}

.login:hover{
	background-image: linear-gradient(to right, #71acc5, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
	color:#071F30;
}

.login {
	color:#071F30;
    width: 90px;
    font-size: 16px;
    font-weight: 600;
   
    cursor: pointer;
    margin-top:5px;
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.login:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.photo{
	opacity:1;
	border-radius:5px;

}
.shape img{
	position: absolute;
	width: 100%;
	z-index: -9;
}
.shape .shape1{
	right: -160px;
	top: -50px;
	width: 450px;
	opacity: .5;
	transform-origin: center;
	animation: shape linear 30s infinite reverse;
}
.shape .shape2{
	left: -70px;
	bottom: -50px;
	width: 450px;
	opacity: .5;
	transform-origin: center;
	animation: shape linear 30s infinite reverse;
}
@keyframes shape{
	100%{
		transform:  rotate(360deg);
	}
}
.shape .shape3{
	top: 0;
	left: 0;
	width: 250px;
	opacity: .4;
	transform-origin: center;
	animation: shape3 linear 20s infinite;
	transform: translate(-200px, -100px) rotate(0deg);
}
@keyframes shape3{
	100%{
		transform: translate(1300px, 600px) rotate(360deg);
	}	
}
.shape .shape4{
	left: 0;
	bottom: 0;
	width: 150px;
	opacity: .4;
	transform-origin: center;
	animation: shape4 linear 20s infinite 5s;
	transform: translate(700px, 80px) rotate(0deg);
}
@keyframes shape4{
	100%{
		transform: translate(1200px, -800px) rotate(360deg);
	}
}
.shape .shape5{
	left: 500px;
	top: 0;
	width: 100px;
	opacity: 0;
	transform-origin: center;
	animation: shape5 linear 25s infinite;
	transform: translate(0, -150px) rotate(0deg);
}
@keyframes shape5{
	100%{
		opacity: 1;
		transform: translate(0, 800px) rotate(720deg);
	}
}
a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	
	
	display: inline-block;
	
	position: relative;
  }
  a:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: rgb(99, 168, 185);
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
  }
  a:hover:after { 
	width: 100%; 
	left: 0; 
  }
  

  
 
